[
    {firebase, [
        {url, "https//my-firebase-instance.firebaseio.com"},
        {auth_secret, "MY FIREBASE SECRET"},
        {auth_claim, [{uid, <<"my-server">>}]},
        {auth_expiration, 86400}
       ]}
].
